include README.md
include LICENSE
include NOTICE.md
include CHANGELOG.md
include SECURITY.md
exclude CONTRIBUTING.md
recursive-include docs *.md
recursive-include examples/notebooks *.ipynb
recursive-include src/battery_data_standard py.typed
recursive-include src/bds py.typed
prune tests
prune tools
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
